*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.gallery-img {
  display: none;
  max-height: 25em;
  max-width: 25em;
  background-size: cover;

}

.active {
  display: block;
  transition: display 3s ease-in-out;

}

.image-gallery {
  background-color: green;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: #0074d9;
  color: #fff;
  font-size: 1.5rem;
  border-color: transparent;
  border-radius: 0.25em;
  cursor: pointer;
  margin: 0.5em;
  transition: opacity .75s ease-in-out;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
