*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: silver;
}

.swiper {
  max-width: 50em;
  max-height: 40em;
  margin-top: 5em;
}

.swiper-slide {
  text-align: center;
}

img {
  max-width: 25em;
  background-size: cover;
}

.swiper-button-prev, .swiper-button-next {
  color: #fff;
}
